#
# Copyright (c) 2015 Maven Utilities Project
# project contributors as indicated by the @author tags.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

name: verify

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  install:
    name: Install
    runs-on: ubuntu-latest
    steps:
      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: 'temurin'
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Cache
        uses: actions/cache@v5
        with:
          path: ~/.m2/repository
          key: pom-tuner-${{ hashFiles('**/pom.xml') }}-${{ github.sha }}
          restore-keys: |
            pom-tuner-${{ hashFiles('**/pom.xml') }}-
            pom-tuner-
      - name: Install
        shell: bash
        run: ./mvnw install -DskipTests -e -B -V -ntp

  test:
    name: Test
    needs: install

    strategy:
      fail-fast: false
      matrix:
        os: [ "ubuntu-latest", "windows-latest", "macOS-latest" ]
        jdk: [ "8", "11", "17", "21", "25" ]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.jdk }}
          distribution: 'temurin'
      - uses: actions/cache@v5
        with:
          path: ~/.m2/repository
          key: pom-tuner-${{ hashFiles('**/pom.xml') }}-${{ github.sha }}
      - run: ./mvnw verify -e -B -V -ntp -rf :pom-tuner-tests

